:root{
    --bgColor: #8ECAE6;
    --moduleColor: #219EBC;
}

body{
    margin: 0px;
}

@mixin loginRegister{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--bgColor);

    .Form{
        background-color: var(--moduleColor);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50vw;
        height: 70vh;
        border-radius: 15px;

        .field{width: 35%;}

        h4{&:hover{cursor: pointer}}
    }
}

.Login, .Register{@include loginRegister;}

.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bgColor);
    height: 85vh;
}

.NavBar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--moduleColor);
}

.CheckDates{
    display:  flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bgColor);

    .listContainer{
        background-color: var(--moduleColor);
        width: 90vw;
        height: 70vh;
        border-radius: 15px;
        padding: 20px;
        overflow: scroll;

        .listItem{
            border: 3px solid black;
            margin: 5px;
            border-radius: 10px;
            padding: 5px;
        }
    }
}

.MakeDate{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bgColor);

    .formulario{
        background-color: var(--moduleColor);
        width: 90vw;
        height: 70vh;
        border-radius: 15px;
        padding: 20px;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.AddDoctor{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bgColor);
    .formulario{
        background-color: var(--moduleColor);
        width: 90vw;
        height: 70vh;
        border-radius: 15px;
        padding: 20px;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}